<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if(cartProductsData.length>0){ %>
          <div style="width: 100%; display: flex; align-items: center; flex-direction: column;gap: 10px;margin-top: 50px;">
            <% for(let p of cartProductsData){ %>
                <div style="width: 50%;display: flex; justify-content: space-between;background-color: white;box-shadow: 2px 4px 10px rgba(0,0,0,0.2);align-items: center;">
                    <h4><em><%=p.title %></em></h4>  
                    <h4><em><%= p.CartItem.quantity %></em></h4>
                    <h4><em><%=p.price %></em></h4>
                    <div style="display: flex; gap: 5px;">

                        <form action="/delete-cart-item" method="POST">
                            <input type="hidden" name="productId"value="<%= p.id %>"/>
                            <input type="hidden" name="price" value="<%=p.price %>"/>
                            <button class="btn" style="height: 40px;" type="submit">Delete</button>
                        </form>
                    </div>
                    
                </div>
                <% } %>
                <hr>
                <form action="/create-order" method="POST">
                    <input type="hidden" name="productId" value="">
                    <button class="btn" type="submit" style="height: 40px;"> Order Now!</button>

                </form>



          </div>
        <% }else{ %>
            <h2>Cart Is Empty Add Some Product To The Cart....!!</h2>
        <% } %>
        <%- include('../includes/end.ejs') %>